
<div class="strib-styles ssa ssb ssc">
  <section class="container-lg elex-header">
    <h5 class="font-popular-light"><span class="font-popular-medium">Election 2020</span></h5>
    <h1>So far <span class='odometer' id="odometer" style="min-width:134px;">4,462</span> people have voted early in Minnesota's presidential primary. Here's what to watch.</h1>
    <div class="byline">
      <address>By
        <a rel="author" href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a>
      </address>
      <span class="spacer"></span>
      Star Tribune
      <span class="spacer-alt"></span>
      <time pubdate datetime="2020-01-24:00:00">Updated January 27, 2020</time>
    </div>
    <p></p>
    <!-- share -->
  </section>
  
  <div class="container-lg elex-main">

    <section class="leadin">

      <p>Thousands of Minnesotans have already voted in the state's <a href="http://www.startribune.com/what-you-need-to-know-before-minnesota-s-first-presidential-primary-since-1992/566660001/">first presential primary in decades</a>, which is one among several Democratic nomination contests slated for Super Tuesday this coming March 3.</p>
        
      <p>Polls have been open to absentee voters since Jan. 17 for the primaries, both via mail and in person at various locations. More voters are expected to participate in this primary over the course of weeks, compared to the previous Minnesota caucuses that were only held during single evenings.</p>

      <p>Since this is Minnesota's first presidential primary with early voting, it's not directly comparable to turnout in past elections. Whether <a href="http://www.startribune.com/new-minnesota-primary-system-raises-voter-privacy-concerns/567045812/">concerns over voter privacy</a> in a partisan primary affect turnout remains to be seen.</p>

      <p>This page will be updated as more data on geographic and turnout trends are made available by the Secretary of State.</p>

    </section>

    <section class="body">
      <h2 class="chartTitle">How many Minnesotans are voting early?</h2>

      <p>Minnesota has allowed early voting since 2014, with <a href="http://www.startribune.com/600-000-minnesotans-have-already-voted-here-s-what-we-re-watching/489888171/">2016 and 2018 seeing a surge of absentee balloting</a> as the practice becomes more commonplace.</p>

      <p>After one week of voting, 4,462 Minnesotans had cast <span class="legendary purple3">ballots</span> in the presidential primary. For context, that's more accepted early ballots after one week than in 2014's midterm election, a testament to advanced voting's increased adoption.</p>

      <!-- <div class="slide">
        <div class="chatter"></div>
        <div class="chart" id="chart"></div>
      </div> -->

      <p>Previous years of early voting tallies in general elections are included for reference rather than direct comparison.</p>

      <div class="slide">
        <div class="chatter"></div>
        <div class="chart" id="chartYear"></div>
      </div>

      <p>Minnesota often leads the nation in voter turnout, and the <a href="http://www.electproject.org/early_2018" target="new_">U.S. Elections Project</a> shows advanced voting isn't usually much different.</p>
    </section>
<!-- 
    <div class="rule"></div>

    <section class="body">
        <h2 class="chartTitle">Are younger voters turning out?</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <p>This year's early youth vote comprises 12 percent of early <span class="legendary purple3">ballots</span> filed so far, roughly on par with their 2016 advanced turnout.</p>

        <div class="slide">
              <div class="chatter"></div>
              <div class="chart" id="chartAge"></div>
              <div class="note">Note: About 3 percent of ballots were unassociated with a birth year and therefore not shown.</div>
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <div class="slide">
          <div class="chatter"></div>
          <div class="chart" id="chartNew"></div> 
    </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </section> -->

    <!-- <div class="rule"></div>

    <section class="body">
      <h2 class="chartTitle">Where are the early votes coming from?</h2>

      <p>So far, measuring the percentage of absentee ballots cast by Minnesota county — shaded from <span class="legendary purple1">less</span> to <span class="legendary purple3">more</span> — reveals the most early turnout in Hennepin, Ramsey and Dakota counties.</p>

      <div class="slide">
        <div class="chatter"></div>
        <div id="mapCounties" class="map"><svg width="320" height="350" viewbox="0 0 500 550" preserveaspectratio="xMidYMid"></svg></div>
      </div>

      <p>As a percentage of registered voters, <a href="http://www.startribune.com/who-s-using-absentee-voting-in-minnesota/399366901/#1">counties in northern parts of the state</a> and the Iron Range had among the highest percentages of early voter turnout in 2016. Mail and absentee ballots often comprise a significant percentage of the total vote in greater Minnesota.</p>

    </section> -->

    <!-- <div class="rule"></div>

    <section class="body">
      <h2 class="chartTitle">What's happening in the suburbs?</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <p>So far, more <span class="legendary purple3">2018</span> early votes are on pace to come from Hennepin and Ramsey counties than other areas, just as in 2016.</p>

      <div class="slide bottom">
        <div class="chatter"></div>
        <div class="chart" id="chartRegion"></div>
      </div>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </section>

    <section class="body">
    <div class="slide">
        <div class="byline">Data source: Minnesota Secretary of State</div>
    </div>
    </section> -->

    <section class="container-lg">
        <div class="article-author-contact">
          <div class="article-author-hcard">
              <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Jeff Hargarten </strong>is a data journalist for the Star Tribune focusing on data-driven reporting and visualization. He has covered elections, technology, criminal justice, demographics and public health.</span></p><p></p>
              <p><a class="article-author-hcard__email" target="_blank" href="mailto:Jeff.Hargarten@startribune.com?subject=Thousands of people have voted early in Minnesota's presidential primary. Here's what to watch." data-linkname="Jeff.Hargarten@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">Jeff.Hargarten@startribune.com</a>
              <a class="article-author-hcard__phone" href="tel:612-673-4642" data-linkname="612-673-4642" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-4642</a>
              <a class="article-author-hcard__twitter" href="http://twitter.com/JeffHargarten" target="_blank" data-linkname="JeffHargarten" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">JeffHargarten</a></p>
        </div>
      </div>
    </section>
  </div>
</div>

<script>
  export default {
    oncreate() {
      // For content that lives in the CMS directly, we hack
      // around the share bits by removing it before we load
      // the component, then re-attach here.
      if (this.get().attachShare) {
        this.get().attachShare();
      }
    }
  };
</script>